<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>YelpCamp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
      <h2>YelpCamp</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls="navBarSupportContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-compass fa-2x"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/campgrounds">Campgrounds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>

          <% } else { %>
            <li class="nav-item">
              <a class="nav-link">
                <img class="rounded" src="<%= user.photo %>" alt="<%= user.username %>">
                <%= user.username %>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/campgrounds">Campgrounds</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/campgrounds/new">Add a Campground!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
            <% } %>
      </ul>
    </div>
  </nav>
