<% include partials/header %>
  <div style="display:flex; flex-direction:column; justify-content:center; align-items:center">
    <div>
      <div class="card">
        <img class="card-img-top" src="https://www.visitnc.com/resimg.php/imgcrop/2/52908/image/800/448/KerrCamping.jpg" alt="sunset">
        <div class="card-block" style="text-align:center">
          <p class="card-text">Catch a sunset in North Caolina with the ones you love! <a href="https://visitnc.com/">img src</a></p>
        </div>
      </div>
    </div>
    <div style="padding: 1em 0;">
      <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>
        Login with Facebook
      </a>
      <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>
        Login with Twitter
      </a>
      <a href="/auth/google" class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span>
        Login with Google
      </a>
    </div>
    <div style="padding: 1em 0;">
      <h4>Not a user yet? <a href="/register">Sign Up!</a></h4>
    </div>
  </div>
  <% include partials/footer %>
