<% include partials/header %>
  <div style="display:flex; flex-direction:column; justify-content:center; align-items:center">
    <div>
      <div class="card">
        <img class="card-img-top" src="https://onmilwaukee.com/images/articles/ca/camping/camping_fullsize_story1.jpg" alt="mountains">
        <div class="card-block" style="text-align:center">
          <p class="card-text">See the world as never seen before! <a href="https://onmilwaukee.com/">img src</a></p>
        </div>
      </div>
    </div>
    <div style="padding: 1em 0;">
      <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span>
        Sign up with Facebook
      </a>
      <a href="/auth/twitter" class="btn btn-block btn-social btn-twitter">
        <span class="fa fa-twitter"></span>
        Sign up with Twitter
      </a>
      <a href="/auth/google" class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span>
        Sign up with Google
      </a>
    </div>
    <div style="padding: 1em 0;">
      <h4>Already a user? <a href="/login">Login!</a></h4>
    </div>
  </div>
  <% include partials/footer %>
